@font-face {
    font-family: 'font-1';
    src: url(../fonts/opensans-regular.woff) format('woff');
}
@font-face {
    font-family: 'font-2';
    src: url(../fonts/opensans-semibold.woff) format('woff');
}
@font-face {
    font-family: 'font-3';
    src: url(../fonts/opensans-bold.woff) format('woff');
}
@font-face {
    font-family: 'font-4';
    src: url(../fonts/dcefont.woff) format('woff');
}
:root{
    --white:#fff;
    --input-text-color:#717171;
    --border-color:#8c8e90;
    --btn-color:#0060f0;
    --btn-hover: #0a4386;
    --error-color:#b80009;
    --error-text-color:#bf2155;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
  scroll-behavior: smooth;
  transition: all 0.25s ease-in-out;
  color: inherit;
  text-decoration: none;
  list-style-type: none;
}
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
    display: none;
}

html, body{
    font-size: 16px;
}
img{
    width: 100%;
    height: auto;
}

.main__container{
    background-image: linear-gradient(to bottom,rgba(0,0,0,.7) 0,rgba(0,0,0,.5) 50%,rgba(0,0,0,0) 100%),
    url("../images/img-backdrop.jpeg");
    background-color: var(--btn-color);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
}

.main__header-logo{
    display: flex;
}
.main__logo{
    margin: 25px auto 0px;
    align-items: center;
    width: 170px;
}
.container{
    padding-top: 5.5rem;
    padding-bottom: 4rem;
}
.form__wrapper{
    background: var(--white);
    border-radius: 5px;
    padding: 3rem 2rem 1.25rem 2rem;
    max-width: 384px;
    margin: 0 auto;
}
.form__container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
/* ::::::Error Messages:::::::::::: */
.error__border{
    border-color: var(--error-text-color);
}
.error__mssg{
    display: none;
}
.err__mssg{
    display: none;
}
.user__error-mssg{
    font-size: 16px;
    font-family: font-1;
    color: var(--error-text-color);
}
.user__error-mssg span{
    display: block;
    padding-left: 24px;
}

.user-circle-exclamation{
    color: var(--error-text-color);
    padding-right: 0.5rem;
}
.user__error{
    font-family: font-1;
    font-size: 12px;
    padding-top: 0.5rem;
    color: var(--error-text-color);

}
.circle-exclamation{
    color: var(--error-text-color);
    font-size: 12px;
    padding-right: 0.5rem;
}
/* ::::::Error Messages:::::::::::: */

.user__details{
    position: relative;
    display: flex;
    flex-direction: column;
}
.user__label{
    font-size: 1rem;
    font-family: font-1;
    color: var(--input-text-color);
}

.user__input{
    border-bottom: 1px solid var(--input-text-color);
    outline: none;
    padding: 8px 0;
    border-radius: 0;
    font-size: 1rem;
    transition: border-color 0.3s ease; 
}
.show-btn{
    position: absolute;
    top: 45%;
    right: 1rem;
    background-color: transparent;
    color: var(--btn-color);
    font-family: font-1;
    font-size: 0.9675rem;
    font-weight: 600;
    cursor: pointer;
    border: 0;
}
.user__input:focus{
    border-bottom: 2px solid var(--btn-color);
}
.user__checkbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.6375rem  0.3125rem;
}
.user__check{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
}
.user__check-me, .user__mark-option{
    font-size: 1rem;
    font-family: font-1;
    color: var(--input-text-color);
   
}
.checkbox__large{
    width: 18px;
    height: 18px;
    border-radius: 5px solid var(--border-color);
    
}
.user__links{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    font-size: 15px;
    font-family: font-1;
    color: var(--btn-color);  
}

.forgot__link:hover, .signup__link:hover{
    color: var(--btn-hover);
}
.login-btn{
    padding: 8px 16px;
    margin-bottom: 10px;
    background-color: var(--btn-color);
    color: var(--white);
    border-radius: 5px;
    font-size: 16px;
    font-family: font-3;
    cursor: pointer;
}
.login-btn:hover{
    background-color: var(--btn-hover);
}
.footer__icon{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1.5rem 0rem 0;
    gap: 1rem;
}
.footer__icon::after{
    content: "";
    position: absolute;
    bottom: -35%;
    width: 75%;
    height: 1px;
    background-color: var(--border-color);
}

.icon__text{
    font-family: font-1;
    font-size: 1.125rem;
    color: var(--input-text-color);
}
.social__icon{
    display: flex;
    gap: 1rem;
    font-size: 1.5rem;
    color: var(--input-text-color);
}

.facebook__icon:hover,
.instagram__icon:hover,
.twitter__icon:hover,
.youtube__icon:hover,
.linkedin__icon:hover{
    color: var(--btn-color);
}

.footer__link-1,
.footer__link-2{
    display: flex;
    justify-content: center;   
}
.small__link-1,
.small__link-2{
    display: flex;
    gap: 1rem;
   
}
.small__link-1 a,
.small__link-2 a{
    display: flex;
    font-family: font-1;
    font-size: 11px;
    padding-top: 3rem;
    color: var(--border-color);
    text-decoration: underline;   
}
.small__link-2 a{
    padding-top: 1rem;
}
.small__link-2 a:nth-child(3), 
.small__link-2 a:nth-child(4){
    text-decoration: none;
}
.home__icon{
    font-size: 16px;
    padding-right: 0.3rem;
}
.footer__copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0 1.5rem;
    font-size: 12.8px;
    font-family: font-1;
    color: var(--border-color);
}
.footer__copyright small{
    display: flex;
    gap: 2rem;
}
/* Media Queries */

/* Small Mobile (e.g., iPhone SE) */
@media(max-width:320px){
    .container{
        padding: 2rem  0.6rem 3rem;
    }
    .user__check{
        gap: 0.2rem;
    }
    .user__checkbox{
        padding: 0.6375rem  0.1rem;
    }
    .user__check-me, .user__mark-option{
        font-size: 0.9rem; 
    } 
    .icon__text{
        font-size: 1.120rem;
    }
    .social__icon{
        display: flex;
        gap: 1rem;
        font-size: 1.3rem;
    }
    .footer__icon::after{
        width: 100%;
    }
  
}
/* Mobile (e.g., iPhone 8) */
@media (min-width:321px) and (max-width:375px){
    .container{
        padding: 2rem  0.6rem 3rem;
    }
    .user__check{
        gap: 0.2rem;
    }
    .user__checkbox{
        padding: 0.6375rem  0.1rem;
    }
    .user__check-me, .user__mark-option{
        font-size: 0.9rem; 
    } 
    .icon__text{
        font-size: 1.120rem;
    }
    .social__icon{
        display: flex;
        gap: 1rem;
        font-size: 1.3rem;
    }
    .footer__icon::after{
        width: 100%;
    }

}
@media (min-width:376px) and (max-width:414px){
    .container{
        padding: 2rem  0.6rem 3rem;
    }
    .footer__icon::after{
        width: 100%;
    }
}
/* Large Mobile (e.g., iPhone 12, Galaxy S20) */
/* Small Tablet (e.g., iPad Mini) */
@media (min-width:415px) and (max-width: 768px){
    .container{
        padding: 2rem  0.6rem 3rem;
    }
    .footer__icon::after{
        width: 80%;
    }

}
/* Standard Tablet (e.g., iPad) */
@media (min-width:769px) and (max-width:810px){
    .container{
        padding: 2rem  0.6rem 3rem;
    }
    .footer__icon::after{
        width: 80%;
    }

}
/* Large Mobile (e.g., iPhone 16Pro Max) */
@media only screen and (min-device-width: 430px) and (max-device-width: 450px){
    .container{
        padding: 2rem  0.6rem 3rem;
    }
    .footer__icon::after{
        width: 90%;
    }
}
/* Large Tablet (e.g., iPad Pro) */
@media (min-width:811px) and (max-width:1024px){
    .container{
        padding: 2rem  0.6rem 3rem;
    }

}

