@font-face {
    font-family: 'font-1';
    src: url(../fonts/opensans-regular.woff) format('woff');
}
@font-face {
    font-family: 'font-2';
    src: url(../fonts/opensans-semibold.woff) format('woff');
}
@font-face {
    font-family: 'font-3';
    src: url(../fonts/opensans-bold.woff) format('woff');
}
@font-face {
    font-family: 'font-4';
    src: url(../fonts/dcefont.woff) format('woff');
}
:root{
    --white:#fff;
    --input-text-color:#717171;
    --border-color:#8c8e90;
    --btn-color:#0060f0;
    --btn-hover: #0a4386;
    --error-color:#b80009;
    --error-text-color:#bf2155;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  scroll-behavior: smooth;
  transition: all 0.25s ease-in-out;
  color: inherit;
  text-decoration: none;
  list-style-type: none;
}
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
    display: none;
}

html, body{
    font-size: 16px;
}
img{
    width: 100%;
    height: auto;
}

.main__container{
    background-image: linear-gradient(to bottom,rgba(0,0,0,0.0) 0,rgba(0,0,0,.0) ,rgba(0,0,0,0.0)),
    url("../images/img-backdrop.jpeg");
    background-color: var(--btn-color);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    /* height: 580px;   */
}
.main__header-logo{
    display: flex;
}
.main__logo{
    margin: 25px auto 20px;
    align-items: center;
    width: 170px;
}
.container{
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.form__wrapper{
    background: var(--white);
    border-radius: 5px;
    padding: 3rem 2rem 1.25rem 2rem;
    max-width: 384px;
    margin: 0 auto;
}
.form__container{
    display: flex;
    flex-direction: column;
    gap: 1rem;

}
/* ::::::Error Messages:::::::::::: */
.error__mssg{
    display: none;
}
.err__mssg{
    display: none;
}
.user__error-mssg{
    font-size: 16px;
    font-family: font-1;
    color: var(--error-text-color);
}
.user__error-mssg span{
    display: block;
    padding-left: 24px;
}

.user-circle-exclamation{
    color: var(--error-text-color);
    padding-right: 0.5rem;
}
.user__error{
    font-family: font-1;
    font-size: 12px;
    padding-top: 0.5rem;
    color: var(--error-text-color);

}
.circle-exclamation{
    color: var(--error-text-color);
    font-size: 12px;
    padding-right: 0.5rem;
}
/* ::::::Error Messages:::::::::::: */

.user__details{
    position: relative;
    display: flex;
    flex-direction: column;
}
.user__label{
    font-size: 1rem;
    font-family: font-1;
    color: var(--input-text-color);
}

.user__input{
    border-bottom: 1px solid var(--input-text-color);
    outline: none;
    padding: 8px 0;
    font-size: 1rem;
    transition: border-color 0.3s ease; 
}
.show-btn{
    position: absolute;
    top: 50%;
    right: 1rem;
    background-color: transparent;
    color: var(--btn-color);
    font-family: font-1;
    font-size: 0.9675rem;
    font-weight: 600;
    cursor: pointer;
    border: 0;

}
.user__input:focus{
    border-bottom: 2px solid var(--btn-color);
}
.user__checkbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.6375rem  0.3125rem;
}
.user__check-me, .user__mark-option{
    font-size: 1rem;
    font-family: font-1;
    color: var(--input-text-color);
   
}
.user__links{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    font-size: 15px;
    font-family: font-1;
    color: var(--btn-color);  
}

.forgot__link:hover, .signup__link:hover{
    color: var(--btn-hover);
}
.login-btn{
    padding: 8px 16px;
    margin-bottom: 10px;
    background-color: var(--btn-color);
    color: var(--white);
    border-radius: 5px;
    font-size: 16px;
    font-family: font-3;
    cursor: pointer;
}
.login-btn:hover{
    background-color: var(--btn-hover);
}


/* .logon.header.jpui.transparent.bar {
    background-color: transparent;
    background-image: linear-gradient(to bottom,rgba(0,0,0,.7) 0,rgba(0,0,0,.5) 50%,rgba(0,0,0,0) 100%);
} */
